$primaryColor: rgb(0, 0, 168);
$secondaryColor: rgb(70, 49, 170);
$dangerColor: rgb(186, 7, 7);
$successColor: rgb(4, 143, 4);
$infoColor: rgb(18, 137, 176);
$warningColor: rgb(253, 214, 23);

$primaryTextColor: rgb(238, 238, 238);
