.wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(2, 2, 134);
  border-radius: 1rem;
  max-width: max-content;
  gap: 0.5rem;
}

.date-result {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
}

.button {
  max-height: min-content;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
